input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}


.form-label label,
.form-input .input-description,
.form-input .ui-helper-hidden-accessible,
.parsley-error-list {
  height: 32px;
  line-height: 24px;
  font-weight: bold;
  display: inline-block !important;
  padding: 0;
//  white-space: nowrap;
  //text-overflow: visible;
  overflow: visible;
  list-style:none;
}

.form-input .input-description,
.form-input .ui-helper-hidden-accessible,
.parsley-error-list {
  font-size: 85%;
  float: left;
  padding-left: 10px;
}

.parsley-error-list {
  white-space: normal;
  overflow: visible;
  line-height: 1.6em;
  height: auto;
  margin: 5px 0 0;
  padding-left: 0;
}