<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Users</h2>
		<ol class="breadcrumb">
			<li>
			<a href="index.html">Home</a>
			</li>
			<li>
			<a ui-sref="finance_rates">Flexi Rent</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">
	</div>
</div>
<flash-message></flash-message>
<form method="get" class="form-horizontal" id="products_form"  data-validate="parsley">
	<!-- company -->
	<div class="wrapper animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Company Details</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-1 control-label">Search</label>
							<div class="col-sm-2">
								<input type="text" class="form-control m-b">
							</div>
							<label class="col-sm-2 control-label">Company</label>
							<div class="col-sm-2">
								<select class="form-control m-b" name="account" ng-options="company.id as company.name for company in companies" ng-model="proposal.company" data-required="true" data-trigger="change" required="true">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- company -->
	<!-- sales -->
	<div class="wrapper animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Seller Details</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-1 control-label">Sales Rep</label>
							<div class="col-sm-2">
								<select class="form-control m-b" name="account" ng-options="salesrep.id as salesrep.name for salesrep in salesreps" ng-model="proposal.salesrep" data-required="true" data-trigger="change">
								</select>
							</div>
							<label class="col-sm-2 control-label">Lead Source</label>
							<div class="col-sm-2">
								<select class="form-control m-b" name="account" ng-options="leadsource.id as leadsource.name for leadsource in leadsources" ng-model="proposal.leadsource" data-required="true" data-trigger="change">
								</select>
							</div>
							<label class="col-sm-2 control-label">Telemarketers</label>
							<div class="col-sm-2">
								<select class="form-control m-b" name="account" ng-options="telemarketer.id as telemarketer.name for telemarketer in telemarketers" ng-model="proposal.telemarketer" data-required="true" data-trigger="change">
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Winback</label>
							<div class="col-sm-2">
								<select class="form-control m-b" name="account" ng-options="winback.id as winback.name for winback in winbacks" ng-model="proposal.winback" data-required="true" data-trigger="change">
								</select>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- sales -->

	<!-- Sites -->
	<div class="wrapper animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Hardware Config <!--{{proposal.sites|json}}--><br>
						<!--br>
						{{proposal.products|json}}--></h5>
						<div class="ibox-tools">
							<a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save" ng-click="addSite()">
							<i class="fa fa-new"></i> + New Site </a>
						</div>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<!-- panel accordion1 -->
							<div class="panel-group" id="accordion1">
								<div class="panel panel-default" ng-repeat="site in proposal.sites" on-finish-render="ngRepeatFinished">
									<div class="panel-heading">
										<h5 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="/proposal/new#collapse{{$index}}">
											
										</a> <input type="text" class="form-control m-b" ng-model="site.name"  >
										</h5>
									</div>
									<div id="collapse{{$index}}" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="accordion-inner">
												<!-- panel accordion2 -->
												<div class="panel-group" id="accordion-{{$index}}">
													<div class="panel panel-default" ng-repeat="catf in categories | filter:{parent:1}">
														<div class="panel-heading">
															<h5 class="panel-title">
															<a class="collapsed" data-toggle="collapse" data-parent="#accordion-{{$parent.$index}}" href="/proposal/new#collapse{{catf.id}}{{$parent.$index}}">{{catf.name}}</a>
															</h5>
														</div>
														<div id="collapse{{catf.id}}{{$parent.$index}}" class="panel-collapse collapse">
															<div class="panel-body">
																<label class="radio-inline" ng-repeat="cats in categories | filter:{parent:catf.id}">
																<input type="radio" value="{{cats.id}}" ng-model="site[$parent.$parent.$index].catf[catf.id].cats.id" > {{cats.name}} </label> <!-- confirmed-click="cleanPro($parent.$index+'-'+catf.id)" ng-confirm-click="Do you want to remove the items?" -->
																<!-- table -->
																<table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
																<thead>
																<tr>
																	<th>
																		Category
																	</th>
																	<th>
																		Name
																	</th>
																	<th>
																		Qty
																	</th>
																	<th>
																		Image
																	</th>
																	<th>
																		Desc
																	</th>
																	<!--th>Rent(M)</th>
																			<th>Rent(W)</th-->
																	<th>
																	</th>
																</tr>
																</thead>
																<tr class="gradeX" ng-repeat="item in proposal.products | filter:{scs:$parent.$index+'-'+catf.id}">
																	<td class="col-sm-2">
																		<select class="form-control m-b" name="account" ng-options="category.id as category.name for category in categories | filter:{parent:site[$parent.$parent.$index].catf[catf.id].cats.id}" ng-model="item.cat" >
																		</select>
																	</td>
																	<td class="col-sm-2">
																		<select class="form-control m-b" name="account" ng-options="prod.id as prod.code for prod in products | filter:{cat_id:item.cat}" ng-model="item.id" ng-change="updateProductRow(item.id,$parent.$parent.$index,catf.id,$index,item);">
																		</select>
																	</td>
																	<td class="col-sm-1">
																		<input type="text" class="form-control m-b" ng-model="item.qty" ng-change="updateQty(item.id,item)">
																	</td>
																	<td class="col-sm-1">
																		<img ng-src="{{item.imaged || '//:0'}}" style="width:40px;"/>
																	</td>
																	<td class="col-sm-1">
																		<span style="position: width: 120px; height: 50px; overflow: hidden; text-overflow: ellipsis">
																		<div  class="first" ng-bind-html="item.desc | unsafe"  >{{item.desc}}</div>
																		</span>
																	
																	 <input type="hidden" class="form-control m-b" ng-model="item.tax" readonly="">
																	<input type="hidden" class="form-control m-b" ng-model="item.sell_price" readonly="">
																	 <input type="hidden" class="form-control m-b" ng-model="item.rrp_tax" readonly="">
																	<input type="hidden" class="form-control m-b" ng-model="item.monthly_rent" readonly="">
																	<input type="hidden" class="form-control m-b" ng-model="item.weekly_rent" readonly="">
																	<input type="hidden" class="form-control m-b" ng-model="item.pos" readonly="">
																	</td>
																	<td class="col-sm-1">
																		<a class="control-label font-red" style="text-align:center" ng-click="remRow(item)"><i class="fa fa-remove"></i></a>
																	</td>
																</td>
															</tr>
															</table>
															<div ng-repeat="bott in buttoms">
																<a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save" ng-show="checkButtom(site[$parent.$parent.$index].catf[catf.id].cats.id, site[$parent.$parent.$index].catf[catf.id].cats)" ng-click="addRowCat($parent.$parent.$index, catf.id)">
																<i class="fa fa-new"></i> + New Product </a>
															</div>
															<!-- table -->
														</div>
													</div>
												</div>
											</div>
											<!-- panel accordion2 -->
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- panel accordion1 -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Sites -->

<!-- options -->
	<div class="wrapper animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Options</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">Purchase option</label>
							<div class="col-sm-3">
								<label class="radio-inline" ng-repeat="purchaseopt in purchaseopts">
								<input data-required="true" type="radio" name="purchaseoption" value="{{purchaseopt.id}}" ng-model="proposal.purchaseopt" required="true" ng-change="updateRows()"> {{purchaseopt.title}} </label>
							</div>
							
							<label ng-show="proposal.purchaseopt=='1'" class="col-sm-2 control-label">Type</label>
							<div ng-show="proposal.purchaseopt=='1'" class="col-sm-2">
								<select class="form-control m-b" name="account" ng-options="term.id as term.title for term in terms" ng-model="proposal.term" data-trigger="change" ng-change="updateRows()">
								</select>
							</div>
						</div>
						<div class="hr-line-dashed">
						</div>
						<div class="form-group">
							<label ng-show="proposal.purchaseopt=='1'" class="col-sm-1 control-label">Month</label>
							<div ng-show="proposal.purchaseopt=='1'" class="col-sm-3">
								<label class="radio-inline" ng-repeat="month in months">
								<input type="radio" name="type" value="{{month.id}}" ng-model="proposal.month" ng-change="updateRows()"> {{month.title}} </label>
							</div>
							<!--label class="col-sm-1 control-label">Total Plan Fees</label-->
							<input type="hidden" class="form-control m-b" ng-model="proposal.plan_fees">
							<label class="col-sm-2 control-label">Hardware Discount</label>
							<div class="col-sm-2">
								<input type="text" class="form-control m-b" ng-change="updateRows()" ng-model="proposal.hardware_discount">
								<input type="hidden" class="form-control m-b" ng-change="updateRows()" ng-model="proposal.call_discount">
							</div>
							
							<label class="col-sm-2 control-label" ng-show="proposal.term=='3'">Residual : {{proposal.residual}}</label>
							<div class="col-sm-2 control-label" ng-show="proposal.term=='3'">
								<!--input type="text" class="form-control m-b" ng-change="updateRows()" ng-show="proposal.term=='3'" ng-model="proposal.residual"--> 
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- options -->

<!-- Services -->
	<div class="wrapper animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Services</h5>
					</div>
					<div class="ibox-content">
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Situation</label>
							<div class="col-sm-5">
								<textarea ng-model="proposal.situation" cols="40" rows="7"></textarea>
							</div>
							<label class="col-sm-1 control-label">Problems</label>
							<div class="col-sm-5">
								<textarea ng-model="proposal.problems" cols="40" rows="7"></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-1 control-label">Implication</label>
							<div class="col-sm-5">
								<textarea ng-model="proposal.implication" cols="40" rows="7"></textarea>
							</div>
							<label class="col-sm-1 control-label">Needs Payoff</label>
							<div class="col-sm-5">
								<textarea ng-model="proposal.needspayoff" cols="40" rows="7"></textarea>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Services -->

<!-- detail -->
<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="ibox-content p-xl">

				<div class="table-responsive m-t">
					<table class="table invoice-table">
						<thead>
						<tr>
							<th>Current Situation</th>
							<th></th>
							<th></th>
							<th>Proposed</th>
							<th>Montly Discount</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><div><strong>Call Usage</strong></div>
								<small>Desc</small></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.csit1"></span></td>
							<td></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.prop1"></span></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.mdis1"></span></td>
						</tr>
						<tr>
							<td><div><strong>Misc Calls</strong></div>
								<small>Desc.
								</small></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.csit2"></span></td>
							<td></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.prop2"></span></td>
							<td class="nowrap"></td>
						</tr>
						<tr>
							<td><div><strong>Voice Lines</strong></div>
								<small>Desc.</small></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.csit3"></span></td>
							<td></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.prop3"></span></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.mdis2"></span></td>
						</tr>
						
						<tr>
							<td><div><strong>Dedicated Lines</strong></div>
								<small>(fax eftpos, alarm etc).</small></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.csit4"></span></td>
							<td></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.prop4"></span></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.mdis3"></span></td>
						</tr>
						
						<tr>
							<td><div><strong>Mobile plans</strong></div>
								<small>Desc.</small></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.csit5"></span></td>
							<td></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.prop5"></span></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.mdis4"></span></td>
						</tr>
						
						<tr>
							<td><div><strong>Internet</strong></div>
								<small>Desc.</small></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.csit6"></span></td>
							<td></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.prop6"></span></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.mdis5"></span></td>
						</tr>
						
						<tr>
							<td><div><strong>Equipment rental</strong></div>
								<small>Desc.</small></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.csit7"></span></td>
							<td></td>
							<td class="nowrap">$ &nbsp;<span class="pull-right"><input type="text" class="form-control m-b" ng-model="proposal.prop7"></span></td>
							<td class="nowrap"></td>
						</tr>
						
						<tr>
							<td><div><strong></strong></div>
								<small></small></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						
						<tr>
							<td><div><strong>Total</strong></div>
								<small></small></td>
							<td class="nowrap">$ {{ parseInt(proposal.csit1,10) + parseInt(proposal.csit2,10) + parseInt(proposal.csit3,10) + parseInt(proposal.csit4,10) + parseInt(proposal.csit5,10) + parseInt(proposal.csit6,10) + parseInt(proposal.csit7,10)}}</td>
							<td></td>
							<td class="nowrap">$ {{ parseInt(proposal.prop1,10) + parseInt(proposal.prop2,10) + parseInt(proposal.prop3,10) + parseInt(proposal.prop4,10) + parseInt(proposal.prop5,10) + parseInt(proposal.prop6,10) + parseInt(proposal.prop7,10) }}</td>
							<td class="nowrap">$ {{ parseInt(proposal.mdis1,10) + parseInt(proposal.mdis2,10) + parseInt(proposal.mdis3,10) + parseInt(proposal.mdis4,10) + parseInt(proposal.mdis5,10)  }}</td>
						</tr>

						</tbody>
					</table>
				</div><!-- /table-responsive -->

				<table class="table invoice-total">
					<tbody>
					<!--tr>
						<td><strong>Sub Total :</strong></td>
						<td>
						
						$1026.00</td>
					</tr>
					<tr>
						<td><strong>TAX :</strong></td>
						<td>$235.98</td>
					</tr-->
					<tr>
						<td><strong>TOTAL SERVICES :</strong></td>
						<td>
						{{ parseInt(proposal.csit1,10) + parseInt(proposal.csit2,10) + parseInt(proposal.csit3,10) + parseInt(proposal.csit4,10) + parseInt(proposal.csit5,10) + parseInt(proposal.csit6,10) + parseInt(proposal.csit7,10) + parseInt(proposal.prop1,10) + parseInt(proposal.prop2,10) + parseInt(proposal.prop3,10) + parseInt(proposal.prop4,10) + parseInt(proposal.prop5,10) + parseInt(proposal.prop6,10) + parseInt(proposal.prop7,10) + parseInt(proposal.mdis1,10) + parseInt(proposal.mdis2,10) + parseInt(proposal.mdis3,10) + parseInt(proposal.mdis4,10) + parseInt(proposal.mdis5,10) | currency:"AUD $":0 }}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>				
<!-- detail -->

<div class="wrapper wrapper-content animated fadeInRight">
	
	
	
	
					
					
					
					<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="ibox-content p-xl">
					
					
					
					
					
					
					
					
					
					<div class="ibox-title">
						<h5></h5>
					</div>
						
					
						
						<table class="table invoice-total">
							<tbody>
							<!--tr>
								<td><strong>Sub Total :</strong></td>
								<td>
								
								$1026.00</td>
							</tr>
							<tr>
								<td><strong>TAX :</strong></td>
								<td>$235.98</td>
							</tr-->
							<tr>
								<td><strong>TOTAL HARDWARE : {{level_weekly}} </strong></td>
								<td>
								 {{ grant_total | currency:"AUD $":0 }} 
								</td>
							</tr>
							</tbody>
						</table>
				
					
					<div class="form-group">
						<div class="col-sm-3">
							<a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Save" ng-click="save()">
							<i class="fa fa-new"></i> Save </a>
							<a class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Save">
							<i class="fa fa-new"></i> Cancel </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</form>