<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element">
                    <img alt="image" class="img-circle" src="angular/img/profile_small.jpg"/>
                    <a class="dropdown-toggle" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Amelia Smith</strong>
                             </span>
                                <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="contacts">Contacts</a></li>
                        <li><a ui-sref="inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="../login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>
            <li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Catalog</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref="active"><a ui-sref="products">Products</a></li>
                    <li ui-sref="active"><a ui-sref="categories">Categories</a></li>
                </ul>
            </li>

            <li>
                <a href=""><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Proposals</span><span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                    <li ui-sref="active"><a ui-sref="products">Basic Configuration</a></li>
                    <li ui-sref="active"><a ui-sref="products">Sell & Rental Prices</a></li>
                </ul>
            </li>
            <li>
                <a ui-sref="users"><i class="fa fa-envelope"></i> <span class="nav-label">Users </span></a>
            </li>
            <li>
                <a ui-sref="inbox"><i class="fa fa-envelope"></i> <span class="nav-label">Finance Rates </span></a>
            </li>
            <li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Misc Data</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                     <li>
                    <a ui-sref="companies"><i class="fa fa-envelope"></i> <span class="nav-label">Companies </span></a>
                    </li>
                    <li>
                        <a ui-sref="salesreps"><i class="fa fa-envelope"></i> <span class="nav-label">Sales Reps </span></a>
                    </li>
                   <li>
                        <a ui-sref="telemarketers"><i class="fa fa-envelope"></i> <span class="nav-label">Telemarketers </span></a>
                    </li>
                   <li>
                        <a ui-sref="winbacks"><i class="fa fa-envelope"></i> <span class="nav-label">Winbacks </span></a>
                    </li>

                    <li>
                        <a ui-sref="leadsources"><i class="fa fa-envelope"></i> <span class="nav-label">Lead Sources </span></a>
                    </li>

                </ul>
            </li>



        </ul>

    </div>
</nav>